.heading{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.nav-items >ul{
display: flex;
list-style-type: none;
}

.nav-items >ul >li{
  padding: 10px;
  margin: 10px;
  font-size: 28px;
}
.logo{
  width: 150px;
}
.res-container{
   display: flex;
  flex-wrap: wrap;
}
.res-card{
 margin: 5px;
  width: 200px;
  height: 400px;
  padding: 5px;
}
.res-card :hover{
  cursor: pointer;
  border: 1px solid black;
}
.res-logo{
  width: 100%;
}
.search{
  padding: 10px;
}